body{
    background-image: url(".//new155.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
 }
 .navbar{
    background-color: #e2e7ee;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #ea7b13;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ec8f02;
    background-color: #f2f4f6;
}
.title{
    font-size: 30px;
    font-weight: bold;
    color: #ea7b13;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #e06f13;
    padding: 10px;
    border-radius: 10px;
    background-color: #f2f4f6;
}
.subtitle{
    font-size: 20px;
    font-weight: bold;
    color: #ea9413;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Arial', sans-serif;
    border: 2px solid #ea9413;
    padding: 10px;
    border-radius: 10px;
    background-color: #f2f4f6;
}
.dashboard-link{
    font-size: 20px;
    font-weight: bold;
    color: #ea9f13;
    text-align: center;
    text-decoration: none;
    border: 2px solid #ea7413;
    padding: 10px;
    border-radius: 10px;
    background-color: #f2f4f6;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: block;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}

#Abd{
    width: 100vw;
   height: 100vh;
   object-fit: cover;
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   z-index: -1;  
}
a{
color: #ea9f13;   
}
a:hover{
    background-color: #0b22f0;
    color: #b82aff;
    box-shadow: 0 0 10px rgba(8, 73, 250, 0.958);
}